{% extends "base.html" %}

{% block content %}
<div class="container-fluid">


  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Add client</div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="First Name"
                     required="required" autofocus="autofocus" name="first_name">
              <label for="inputEmail">First Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputPassword" class="form-control" placeholder="Last Name"
                     required="required" name="last_name">
              <label for="inputPassword">Last Name</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="education" class="form-control" placeholder="Education"
                     required="required" name="education">
              <label for="inputPassword">Education</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="passport" class="form-control" placeholder="Passport"
                     required="required" name="passport">
              <label for="inputPassword">Passport</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="city" class="form-control" placeholder="City"
                     required="required" name="city">
              <label for="inputPassword">City</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="age" class="form-control" placeholder="Age"
                     required="required" name="age">
              <label for="inputPassword">Age</label>
            </div>
          </div>
           <input class="btn btn-primary btn-block" type="submit" value="Add">
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
