{% extends "base.html" %}

{% block content %}
<div class="container-fluid">


  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Add application</div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputSum" class="form-control" placeholder="Sum"
                     required="required" autofocus="autofocus" name="summ">
              <label for="inputSum">Sum</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputCreditState" class="form-control" placeholder="Credit State"
                     required="required" name="creditstate">
              <label for="inputCreditState">Credit State</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="Currency" class="form-control" placeholder="Currency"
                     required="required" name="currency">
              <label for="Currency">Currency</label>
            </div>
          </div>
           <input class="btn btn-primary btn-block" type="submit" value="Add">
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
